<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active"><%= link_to "Whatsup", whatsup_path %></li>
</ol>
<div class="jumbotron">
  <h1>Hee Whatsup!</h1>
  <p>Ok this is just to test if I can create a page on my own, half a day after watching the tutorial. I guess, it's working...</p>
</div>
